* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Helvetica, arial, sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.octocat {
  display: inline-block;
  width: 30%;

}

.octocat > a {
  border: solid 1px #CACACA;
  display: inline-block;
  border-radius: 3px;
  position: relative;
}

.octocat > a::after {
  content: '';
  height: 0;
  width: 0;
  border-top: solid 10px #CACACA;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;

  position: absolute;
  top: 100%;
  right: 1%;
}

.image-number {
  position: absolute;
  top: 40%;
  transform: translate(-50%);
  left: 20px;
  color: #CBCBCC; z
}

.image-number::before {
  content: '#';
}

.image-footer {
  border-bottom: solid 1px #CACACA;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;

}

.image-caption {
  text-align: right;
  color: #7C7D81;
  position: relative;
}



.image-caption > a {
  text-decoration: none;
  color: black;
}


.authors {
  display: inline-block;

}

.authors > li > a {
  display: inline-block;
  width: 30px;
}

.authors > li > a > img {
  display: inline-block;
  width: 30px;
  border-radius: 10%;
  border: solid 1px gray;
}

.middle {
  margin-right: 30px;
  margin-left: 30px;
}
